<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mizu: {{ title }}</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>
            <img src="/img/logo-small.png" alt="Mizu logo">
            <p class="subtitle">thingdoer of the internet</p>
        </div>
        <div class="socials">
            <a href="https://discord.gg/AADZUmgsph" target="_blank"><img src="/img/Discord.png" alt="Discord (Cambridge, The Open-Source Arcade Stacker)"></a>
            <a href="https://twitter.com/Mizu_Teto" target="_blank"><img src="/img/Twitter.png" alt="Twitter"></a>
            <a href="https://www.reddit.com/u/MizuOfficial" target="_blank"><img src="/img/Reddit.png" alt="Reddit"></a>
            <a href="https://github.com/Rexxt" target="_blank"><img src="/img/Github.png" alt="GitHub"></a>
            <a href="https://www.youtube.com/channel/UCK3fIE6e1NAoLfgreA0nIyg" target="_blank"><img src="/img/Youtube.png" alt="YouTube"></a>
        </div>
    </header>

    {{ navbar }}

    <main>
        <h1>{{ title }}</h1>
        {{ content }}
    </main>

    <footer>
        made with &lt;3 by eris in 2026.
        <a href="https://github.com/rexxt/rexxt.github.io">peek through this website's source code!</a>
    </footer>
</body>
</html>